.sort_options
  %ul
    %li= sort_link 'Followers', 'followers_count', params
    %li= sort_link 'Friends', 'friends_count', params
    %li= sort_link 'Last Update', 'last_tweet_at', params
    %li= sort_link 'Screen Name', 'screen_name', params
.clear